body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

.option {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 80%;
}

.option:hover {
    background-color: #45a049;
}

#score {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#nextButton,
#newQuizButton,
#retryQuizButton {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 50%;
    /* Centered button width */
    margin-top: 20px;
    /* Centered button margin */
    display: none;
    margin-left: 25%;
}

#container {
    display: flex;
}

#quiz {
    /* Your existing styles for quiz */
}

#chartContainer {
    margin-left: 20px;
    /* Adjust the margin as needed */
}